html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
    text-align: center;
    width: 2in;
    height: 1.25in;
    margin: 0;
    padding: 0;
}

.label {
    width: 2in;
    height: 1.25in;
    overflow: hidden;
}

.label img {
    width: 1.7in;
    height: 0.6in;
    padding-left: 5px;
    padding-right: 5px;
}

.mac {
    text-align: center;
}


.mac, .type {
    text-align: center;
    width: 100%;
    display: block;
}

.mac {
    padding-top: 5px;
}

.type {
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}
