html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
    text-align: center;
    width: 1.00in;
    height: 0.75in;
    margin: 0;
    padding: 0;
}

.label {
    width: 1.00in;
    height: 0.75in;
    overflow: hidden;
}

.label img {
    width: 0.8in;
    height: 0.28in;
    padding-left: 5px;
    padding-right: 5px;
}

.mac {
    text-align: center;
}


.mac, .type {
    text-align: center;
    width: 100%;
    display: block;
}

.mac {
    font-size: 10px;
    padding-top: 5px;
}

.type {
    font-weight: bold;
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 4px;
}
