html
    head
        style
            include style.css
    body
        div(class='label')
            span(class='type')= type
            br
            img(src='./barcode?bcid=code128&width=1.9&height=3.5&text=' + mac )
            br
            span(class='mac')= mac
