html
    head
        style
            include style.css
    body
        div(class='label')
            span(class='type')= type
            img(src='./barcode?bcid=code128&width=0.8&height=0.4&text=' + mac )
            span(class='mac')= mac
