html
    head
        style
            include style.css
    body
        div(class='label')
            span(class='type')= type
            img(src='./barcode?bcid=code128&width=1.7&height=0.6&text=' + mac )
            span(class='mac')= mac
